<span class="icon-container">
  <svg class="icon icon--primary">
    <use xlink:href="/images/sprite.svg#Asset 1"></use>
  </svg>
</span>

<svg class="icon">
  <use xlink:href="#break-svgrepo-com"></use>
</svg>
<svg class="icon">
  <use xlink:href="#check-svgrepo-com"></use>
</svg>
<svg class="icon">
  <use xlink:href="#clock-svgrepo-com"></use>
</svg>
<svg class="icon">
  <use xlink:href="#double-quotes-l-svgrepo-com"></use>
</svg>
<svg class="icon">
  <use xlink:href="#graph-svgrepo-com"></use>
</svg>
<svg class="icon">
  <use xlink:href="#landscape-svgrepo-com"></use>
</svg>
<svg class="icon">
  <use xlink:href="#magnifier-svgrepo-com"></use>
</svg>
<svg class="icon">
  <use xlink:href="#menu-svgrepo-com"></use>
</svg>
<svg class="icon">
  <use xlink:href="#tap-svgrepo-com"></use>
</svg>
<svg class="icon">
  <use xlink:href="#web-development-svgrepo-com"></use>
</svg>
<svg class="icon">
  <use xlink:href="#wordpress-svgrepo-com"></use>
</svg>
